@charset "UTF-8";

:root{
    --cor1: #56FF0D;
    --cor2: #1926FF;
    --cor3: #FFFF00;
    --cor4: #FF19F0;
    --cor5: #FFCE0D;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;

}

html, body {
    background-color: rgb(182, 180, 180);
}

header {
    display: block;
    background-color: var(--cor3);
    padding: 15px;
}

header > a > img {
    width: 22px;
    margin: 1px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    text-align: center;
}

i#burguer {
    display: block;
    background-color: white;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

header > menu {
    display: block;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}

header ul {
    display: block;
    background-color: blue;
    padding: 10px;
    margin: 10px;
}

header  ul > li {
    display: block;
    background-color:black;
    color: white;
    padding: 10px;
    margin: 10px;
}
